@media(max-width: 800px) {

.start{
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

    .start__bottom{
        flex-direction: column;
        align-items: center;
    }

    .start__bottom div{
        padding: 25px 15px;
        width: 90%;
    }

    #start img{
        width: 90%;
    }
    #start h2{

        display: block;
      
      }

      .start__left{
        flex-direction: row;
        gap: 25px;
      }

}

@media(max-width: 750px){

    .start__left{
        flex-direction: column;
        gap: 25px;
      }

    #start ul li{
        width: 80%;
    }
}

@media(max-width: 500px) {
    #start ul li{
        width: 100%;
    }

header img{ 
    min-height: 50px;
    min-width: 50px;


}

    .social{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin: 20px 30px;
    }

    footer{
        flex-direction: column;
        gap: 5vw;
    }

    footer div{
        flex-direction: column;
        gap: 20px;
    }
}